<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>


    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

    <script>
      var saveModule = module;
      delete module;
    </script>
    <script src="./node_modules/jquery/dist/jquery.js"></script>


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/angular/angular.js"></script>

  <script>
    module = saveModule;
  </script>

    <style media="screen"></style>
    <link rel="stylesheet" href="main.css">
  </head>
<body ng-app="app">
<div class="container" ng-controller="sentenceCtrl">
  <h1 title="ange repeater" id="title">安哥影音复读机</h1>

  <form class="form-inline">
    <div class="form-group col-lg-6">
            <div class="input-group">
              <input 
              class="form-control col-lg-4" 
              type="text" 
              placeholder="Search for..." 
              id="search_text" 
              ng-model="search_text"
              size="80">
              <span class="input-group-btn">
                <button class="btn btn-info btn-default" id="btn_prev_search" ng-click="search_prev()"><</button>
                <button class="btn btn-info btn-default" id="btn_next_search" ng-click="search_next()">></button>
              </span>
            </div><!-- /input-group -->
    </div>
    <div class="form-group">
      <label >重复次数：</label>
      <select class="form-control" id="repeat_times">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
      </select>
      <button id="btn_hide_subtitle" class="btn btn-primary" ng-click="li_display()" ng-bind="is_display? '隐藏字幕':'显示字幕'" ></button>
    </div>
  
  </form>


  <div class="alert alert-success col-sm-12 col-md-12 col-lg-12" >
    <button class="btn btn-info btn-default" id="prev_sentence" ng-click="prev_sen()"><</button>
    <div id="current_sentence" class="col-md-10 col-lg-10" current_index="0" ng-click="play_current()">{{ current_sentence}}</div>
    <button class="btn btn-info btn-default" id="next_sentence" ng-click="next_sen()">></button>
  </div>

  <div class="video_only col-sm-12 col-md-12 col-lg-12 " ng-click="play_current()">
    <div class=" col-sm-6 col-md-6 col-lg-6">
      <video id="player" width="100%">
          <source type="video/mp4">
          Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <div class="col-md-12 col-lg-12">
    <input type="text" class="form-control input-lg" placeholder="type your english here..." id="user_input">
  </div>
  <div  class="col-md-12 col-lg-6" >
    <div> <input type="text" ng-model="sentence.english">过滤</div>
    <ul id="english_list" ng-show="is_display">
      <li title="{{ item.chinese }}" 
          ng-repeat="item in items | filter:sentence" 
          ng-click="mediaplay(item,$index)" 
          ng-bind="item.english">
      </li>
    </ul>
    <ul id="chinese_list"></ul>
  </div>

</div>
</body>

  <script>
    // You can also require other files to run in this process
    require('./renderer.js')
    vid= document.getElementById('player')
  </script>
  <script type="text/javascript" src="myMediaPlayer.js"></script>
  <script > require('./js/controller.js')</script>
  <script type="text/javascript" src="srt-reader.js"></script>

</html>
